* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc0000;
}

#order li {
  float: right;
}

li {
    float: left;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #cc0000;
    background-color: rgb(255, 255, 255);
  }

#header-img {
    position: relative;
    max-width: 100px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;

#form input[type='email'] {
  max-width: 275px;
  padding: 100%
  padding: 5px;
}