@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

div {
  display: block;
}

.grid {
  display: flex;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 5rem;
    background: linear-gradient(180deg, #ddd, #ffffff 100%);
}

#header-img {
  width: 100px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
}

#nav-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#nav-bar li {
    list-style-type: none;
    margin-left: 5rem;
}

#nav-bar li > a{
    text-decoration: none;
    color: #cc0000;
    font-size: 0.9rem;
    font-weight: 500;
}


#nav-bar li::after {
    content: '';
    width: 0rem;
    height: 0.15rem;
    background-color: #cc0000;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}

#nav-bar li:hover::after {
    width: 2rem;
}

/*For email signup*/

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

.signup > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

.signup input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

.signup input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  color: #cc0000;
  background-color: #fff;
}

  .signup input[type='submit']:hover {
    color: #cc0000;
    background-color: #ddd;
    transition: background-color 1s;
  }

  /*Features*/

  #features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  color:#cc0000
}

/*Reveal*/

#reveal {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

#reveal > iframe {
  max-width: 560px;
  width: 100%;
}

/*Pricing*/

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.spec {
  color: #cc0000;
}

@media (max-width: 800px) {
.product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

li {
  list-style: none;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

/*footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 5rem;
  background-color: #ddd;
  color: black;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
  color: black;
}

footer > ul > li {
  padding: 0 10px;
}

.footerlink {
  color: black;
}